<template>
 <div class="ui-block">
    <article class="hentry post">
        <div class="post__author author vcard inline-items">
            <img width="36" height="36" alt="author" src="assets/img/forum7.png">

            <div class="author-date">
                <a class="h6 post__author-name fn" href="02-ProfilePage.html">Peppa</a>
                <div class="post__date">
                    <time class="published" datetime="2017-03-24T18:18">
                        Publicado en {{ publicacion.created_at }}
                    </time>
                </div>
            </div>

            <div class="more">
                <svg class="olymp-three-dots-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                </svg>
                <ul class="more-dropdown">
                    <li>
                        <button v-if="editMode" class="btn btn-success" v-on:click="onClickUpdate()">
                            Guardar Cambios
                        </button>
                        <button v-else class="btn btn-primary" v-on:click="onClickEdit()">
                            Editar
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-danger" v-on:click="onClickDelete()">
                            Eliminar
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <input v-if="editMode" type="text" class="form-control" v-model="publicacion.descripcion">
        <p v-else>{{ publicacion.descripcion }}</p>


        <div v-if="publicacion.fk_tipo_publicacion == 2" class="post-thumb widget w-last-photo js-zoom-gallery">
            <a :href="'image/' + publicacion.url_archivo">
                <img :src="'image/' + publicacion.url_archivo" alt="photo">
            </a>
        </div>

       <div v-if="publicacion.fk_tipo_publicacion == 3" class="post-thumb widget w-last-video">
            <a :href="'image/' + publicacion.url_archivo" class="play-video play-video--small">
            <svg class="olymp-play-icon">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-play-icon"></use>
            </svg>
            </a>
            <img src="assets/img/video8.jpg" alt="video">
            <div class="video-content">
                <div class="title">{{ publicacion.descripcion }}</div>
                <time class="published" datetime="2017-03-24T18:18">3:25</time>
            </div>
            <div class="overlay"></div>
        </div>


        <div class="post-additional-info inline-items">
            <a href="#" class="post-add-icon inline-items">
                <svg class="olymp-heart-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
                <span>24</span>
            </a>
    
            <ul class="friends-harmonic">
                <li>
                    <a href="#">
                        <img src="assets/img/friend-harmonic7.jpg" alt="friend">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/img/friend-harmonic8.jpg" alt="friend">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/img/friend-harmonic9.jpg" alt="friend">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/img/friend-harmonic10.jpg" alt="friend">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/img/friend-harmonic11.jpg" alt="friend">
                    </a>
                </li>
            </ul>
    
            <div class="names-people-likes">
                <a href="#">You</a>, <a href="#">Elaine</a> and
                <br>22 more liked this
            </div>
    
    
            <div class="comments-shared">
                <a href="#" class="post-add-icon inline-items">
                    <svg class="olymp-speech-balloon-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
                    <span>17</span>
                </a>
    
                <a href="#" class="post-add-icon inline-items">
                    <svg class="olymp-share-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
                    <span>24</span>
                </a>
            </div>
    
    
        </div>
        <div class="control-block-button post-control-button">	
            <a href="#" class="btn btn-control">
                <svg class="olymp-like-post-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-like-post-icon"></use></svg>
            </a>
        </div>
    </article>
    <!-- .. end Post -->					
    <!-- Comments -->
    
    <coment 
            v-for="(resena, index) in resenas"
            :key="resena.id"
            :resena="resena"
            @update="updateResena(index, ...arguments)"
            @delete="deleteResena(index)">
    </coment>
    
    <!-- ... end Comments -->

					
					<!-- Comment Form  -->
					
    <coment-form @new="addResena" :showname="publicacion.id"></coment-form>
					
					<!-- ... end Comment Form  -->
    
 </div>
</template>

<script>
    export default {
        props: ['publicacion', 'resena'],
        data() {
            return {
                editMode: false,
                comentario: '',
                id_publicacion: '',
                resenas: []
            };
        },
        mounted() {
            axios.get('/resenas/' + this.publicacion.id).then((response) => {
                this.resenas = response.data;
            });
        },
        methods: {
            onClickDelete() {
                axios.delete(`/publicaciones/${this.publicacion.id}`).then(() => {
                    this.$emit('delete');
                });
            },
            onClickEdit() {
                this.editMode = true;
            },
            onClickUpdate() {
                const params = {
                    descripcion: this.publicacion.descripcion
                };
                axios.put(`/publicaciones/${this.publicacion.id}`, params).then((response) => {
                    this.editMode = false;
                    const publicacion = response.data;
                    this.$emit('update', publicacion);
                });
            },
            addResena(resena) {
                this.resenas.push(resena);
            },
            updateResena(index, resena) {
                this.resenas[index] = resena;
            },
            deleteResena(index) {
                this.resenas.splice(index, 1);
            }
        }
    }
</script>
