<template>
    <form @submit.prevent.keyup="sent">
						
        <div class="form-group label-floating is-empty">
            <input type="text" class="form-control" v-model="message.message">
            <div class="add-options-message">
                <a href="#" class="options-message">
                    <svg class="olymp-computer-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"></use></svg>
                </a>
                <div class="options-message smile-block">

                    <svg class="olymp-happy-sticker-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-sticker-icon"></use></svg>

                    <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat1.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat2.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat3.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat4.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat5.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat6.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat7.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat8.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat9.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat10.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat11.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat12.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat13.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat14.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat15.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat16.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat17.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat18.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat19.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat20.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat21.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat22.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat23.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat24.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat25.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat26.png" alt="icon">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/img/icon-chat27.png" alt="icon">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </form>
</template>

<script>
    export default {
        props:['user'],
        data() {
            return {
                message: {
                    message: '',
                    user: this.user            
                }
            }
        },
        methods: {
            sent () {
                this.$emit('messagesent', this.message)
                this.message = {}
            }
        }
    }
</script>