<template>
<main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
<div class="ui-block">
    <!-- News Feed Form  -->
    
        <div class="news-feed-form">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active inline-items" data-toggle="tab" href="#home-1" role="tab" aria-expanded="true">
        
                        <svg class="olymp-status-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-status-icon"></use></svg>
        
                        <span>Estado</span>
                    </a>
                </li>
            </ul>
        
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
                    <status-form @new="addThought"></status-form>
                </div>
            </div>
        </div>
    <!-- ... end News Feed Form  -->	
</div>		

    <div id="newsfeed-items-grid">
 
       
            
            <status 
                    v-for="(publicacion, index) in publicaciones"
                    :key="publicacion.id"
                    :publicacion="publicacion"
                    @update="updateThought(index, ...arguments)"
                    @delete="deleteThought(index)">
            </status>

        
    </div>

<a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid"><svg class="olymp-three-dots-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>

</main>
            
</template>

<script>
    export default {
        data() {
            return {
                publicaciones: []
            }
        },
        mounted() {
            axios.get('/publicaciones').then((response) => {
                this.publicaciones = response.data;
            });
        },
        methods: {
            addThought(publicacion) {
                this.publicaciones.push(publicacion);
            },
            updateThought(index, publicacion) {
                this.publicaciones[index] = publicacion;
            },
            deleteThought(index) {
                this.publicaciones.splice(index, 1);
            }
        }
    }
</script>