<template>

    <form action="" v-on:submit.prevent="newStateImage()">
        <div class="author-thumb">
            <img width="36" height="36" alt="author" src="assets/img/forum7.png">
        </div>
        <div class="form-group with-icon label-floating is-empty">
            <label class="control-label">Comparte lo que piensas aqui...</label>
            <textarea v-model="descripcion" name="descripcion" class="form-control" placeholder=""></textarea>
            <!--<input v-on:change="url_archivo" required type="file" class="form-control" placeholder="address" multiple> -->
        </div>
        <div class="add-options-message">
            <a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD PHOTOS">
                <svg class="olymp-camera-icon" data-toggle="modal" data-target="#update-header-photo"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-camera-icon"></use></svg>
            </a>
            <a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="TAG YOUR FRIENDS">
                <svg class="olymp-computer-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-computer-icon"></use></svg>
            </a>

            <a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD LOCATION">
                <svg class="olymp-small-pin-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-small-pin-icon"></use></svg>
            </a>

            <button class="btn btn-primary btn-md-2">Publicar</button>
            <button   class="btn btn-md-2 btn-border-think btn-transparent c-grey">Pre-Visualizacion</button>

        </div>
    </form>

    <!-- ... end News Feed Form  -->			</div>

</template>

<script>
    export default {
        data() {
            return {
                descripcion: '',
                url_archivo: ''
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            newStateImage() {
                const params = {
                    descripcion: this.descripcion,
                    url_archivo: this.url_archivo
                };
                this.descripcion = '';
                axios.post('/storeImages', params)
                    .then((response) => {
                        const publicacionImage = response.data;
                        this.$emit('new', publicacionImage);
                    });
            }
        }
    }
</script>