<template>
 <div class="ui-block">
    <article class="hentry post">
        <div class="post__author author vcard inline-items">
            <img width="36" height="36" alt="author" src="assets/img/forum7.png">

            <div class="author-date">
                <a class="h6 post__author-name fn" href="02-ProfilePage.html">jkhkjhkjhk</a>
                <div class="post__date">
                    <time class="published" datetime="2017-03-24T18:18">
                        Publicado en {{ publicacion.created_at }}
                    </time>
                </div>
            </div>

            <div class="more">
                <svg class="olymp-three-dots-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                </svg>
                <ul class="more-dropdown">
                    <li>
                        <button v-if="editMode" class="btn btn-success" v-on:click="onClickUpdate()">
                            Guardar Cambios
                        </button>
                        <button v-else class="btn btn-primary" v-on:click="onClickEdit()">
                            Editar
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-danger" v-on:click="onClickDelete()">
                            Eliminar
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <input v-if="editMode" type="text" class="form-control" v-model="publicacion.descripcion">
        <p v-else>{{ publicacion.descripcion }}</p>
        <div class="post-additional-info inline-items">
            <a href="#" class="post-add-icon inline-items">
                <svg class="olymp-heart-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
                <span>24</span>
            </a>
    
            <ul class="friends-harmonic">
                <li>
                    <a href="#">
                        <img src="assets/img/friend-harmonic7.jpg" alt="friend">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/img/friend-harmonic8.jpg" alt="friend">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/img/friend-harmonic9.jpg" alt="friend">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/img/friend-harmonic10.jpg" alt="friend">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/img/friend-harmonic11.jpg" alt="friend">
                    </a>
                </li>
            </ul>
    
            <div class="names-people-likes">
                <a href="#">You</a>, <a href="#">Elaine</a> and
                <br>22 more liked this
            </div>
    
    
            <div class="comments-shared">
                <a href="#" class="post-add-icon inline-items">
                    <svg class="olymp-speech-balloon-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
                    <span>17</span>
                </a>
    
                <a href="#" class="post-add-icon inline-items">
                    <svg class="olymp-share-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
                    <span>24</span>
                </a>
            </div>
    
    
        </div>
        <div class="control-block-button post-control-button">	
            <a href="#" class="btn btn-control">
                <svg class="olymp-like-post-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-like-post-icon"></use></svg>
            </a>
        </div>
    </article>
    <!-- .. end Post -->					
    <!-- Comments -->
    
    <ul class="comments-list">
        <li class="comment-item has-children">
    
            <ul class="children">
                <li class="comment-item">
                    <div class="post__author author vcard inline-items">
                        <img src="assets/img/avatar8-sm.jpg" alt="author">
    
                        <div class="author-date">
                            <a class="h6 post__author-name fn" href="#">Diana Jameson</a>
                            <div class="post__date">
                                <time class="published" datetime="2017-03-24T18:18">
                                    39 mins ago
                                </time>
                            </div>
                        </div>
    
                        <a href="#" class="more">
                            <svg class="olymp-three-dots-icon">
                                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                            </svg>
                        </a>
    
                    </div>
    
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    
                    <a href="#" class="post-add-icon inline-items">
                        <svg class="olymp-heart-icon">
                            <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
                        </svg>
                        <span>2</span>
                    </a>
                    <a href="#" class="reply">Reply</a>
                </li>
            </ul>
    
        </li>
    </ul>
    
    <!-- ... end Comments -->
    
 </div>
</template>

<script>
    export default {
        props: ['publicacion'],
        data() {
            return {
                editMode: false
            };
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            onClickDelete() {
                axios.delete(`/publicaciones/${this.publicacion.id}`).then(() => {
                    this.$emit('delete');
                });
            },
            onClickEdit() {
                this.editMode = true;
            },
            onClickUpdate() {
                const params = {
                    descripcion: this.publicacion.descripcion
                };
                axios.put(`/publicaciones/${this.publicacion.id}`, params).then((response) => {
                    this.editMode = false;
                    const publicacion = response.data;
                    this.$emit('update', publicacion);
                });
            }
        }
    }
</script>
