<template>
<ul class="comments-list">
        <li class="comment-item has-children">
    
            <ul class="children">
                <li class="comment-item">
                    <div class="post__author author vcard inline-items">
                        <img src="assets/img/forum7.png" alt="author">
    
                        <div class="author-date">
                            <a class="h6 post__author-name fn" href="#">Peppa</a>
                            <div class="post__date">
                                <time class="published" datetime="2017-03-24T18:18">
                                    39 mins ago
                                </time>
                            </div>
                        </div>

                        <div class="more">
                            <svg class="olymp-three-dots-icon">
                                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                            </svg>
                            <ul class="more-dropdown">
                                <li>
                                    <button v-if="editMode" class="btn btn-success" v-on:click="onClickUpdateResena()">
                                        Guardar Cambios - Comentario
                                    </button>
                                    <button v-else class="btn btn-primary" v-on:click="onClickEdit()">
                                        Editar Comentario
                                    </button>
                                </li>
                                <li>
                                    <button class="btn btn-danger" v-on:click="onClickDeleteResena()">
                                        Eliminar Comentario
                                    </button>
                                </li>
                            </ul>
                        </div>
    
                    </div>
                    <input v-if="editMode" type="text" class="form-control" v-model="resena.comentario">
                    <p v-else>{{ resena.comentario }}</p>
    
                    <a href="#" class="post-add-icon inline-items">
                        <svg class="olymp-heart-icon">
                            <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
                        </svg>
                        <span>2</span>
                    </a>
                    <a href="#" class="reply">Reply</a>
                </li>
            </ul>
    
        </li>
    </ul>
</template>

<script>
    export default {
        props: ['resena'],
        data() {
            return {
                editMode: false
            };
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            onClickDeleteResena() {
                axios.delete(`/resenas/${this.resena.id}`).then(() => {
                    this.$emit('delete');
                });
            },
            onClickEdit() {
                this.editMode = true;
            },
            onClickUpdateResena() {
                const params = {
                    comentario: this.resena.comentario
                };
                axios.put(`/resenas/${this.resena.id}`, params).then((response) => {
                    this.editMode = false;
                    const resena = response.data;
                    this.$emit('update', resena);
                });
            },
        }
    }
</script>
