<template>

    <form action="" v-on:submit.prevent="newComent()" class="comment-form inline-items">
					
        <div class="post__author author vcard inline-items">
            <img src="assets/img/forum7.png" alt="author">
    
            <div class="form-group with-icon-right ">
                <textarea v-model="comentario" class="form-control" placeholder=""></textarea>
                <div class="add-options-message">
                    <a href="#" class="options-message" data-toggle="modal" data-target="#update-header-photo">
                        <svg class="olymp-camera-icon">
                            <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    
        <button class="btn btn-md-2 btn-primary">Comentar</button>
    
        <button class="btn btn-md-2 btn-border-think c-grey btn-transparent custom-color">Cancel</button>
    
    </form>

</template>

<script>
    export default {
        props: ['showname'],
        data() {
            return {
                comentario: '',
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            newComent() {
                const params = {
                    comentario: this.comentario,
                    id_publicacion: this.showname
                };
                this.comentario = '';
                this.id_publicacion = '';
                axios.post('/resenas', params)
                    .then((response) => {
                        const resena = response.data;
                        this.$emit('new', resena);
                    });
            }
        }
    }
</script>